@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/*.footer {
    font-family: 'Source Sans Pro', sans-serif;
    color: #2D4A8A;
    position: relative;
    padding-bottom: 2px;
    bottom: 0;
}
.footer p{
    text-align: center;
    position: relative;
}

html, body, #root {
    height:100%;
}*/
.armygrid {
    display:inline-block;
}

#armyscarb {
    font-family: 'Source Sans Pro', sans-serif;
    color: #A23F3D;
    transform: translate(100px, -45px);
}
#headerpic {
    content: url("U.S.-Army-Logo.png");
    padding-left: 100px;
    width: 105px;
}
.armymed-1 {
    color: #5d0f32;
    font-size: 20px;
    font-family: SourceSansPro-Bold, Source Sans Pro;
    font-weight: 1000;
    position: relative;
    left: 40%;
    transform:translateY(-15px)
}
.armymed-2 {
    color: #000;
}
.topnav {
    padding-left: 55px;
    background-color: #2D4A8A;
    overflow: hidden;
    transform: translateY(-35px);

}
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
}
.topnav a:hover {
    background-color: #1D3367;
}

.armybar {
    transform: translate(50px, -30px);
}