@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.nctbox {
    border:2px solid #002270;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: absolute;
    top: 123%;
    left: 3%;
    width: 67%;
    height: 4.75%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;

}

.news {
    background-color: #DE4655;
    width: 33.33%;
    height: 100%;
    border-right: 2px solid #002270;
}

.news p {
    position: relative;
    right: -15%;
    top: -6%;
}

.cal {
    background-color: #EB8322;
    width: 33.33%;
    height: 100%;
    border-right: 2px solid #002270;
}

.cal p {
    position: relative;
    right: -15%;
    top: -6%;
}

.templ {
    background-color: #47BA75;
    width: 33.33%;
    height: 100%;
}

.templ p {
    position: relative;
    right: -15%;
    top: -6%;
}