@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.nctbox {
    border:2px solid #002270;
    display:inline-flex;
    margin-left: 3%;
    margin-top: 3.1%;
    align-items: flex-start;
    justify-content: space-between;
    width: 67%;
    height: 4%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 11pt;
}

.nctbox2 {
    border:2px solid #002270;
    display:inline-flex;
    margin-left: 3%;
    margin-top: 3.1%;
    align-items: flex-start;
    justify-content: space-between;
    width: 67%;
    height: 4%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
    font-size: 11pt;
    transform:translateY(-50px);
}

@media screen and (min-width: 1000px) {
    .nctbox {
      background-color: lightgreen;
    }
}

.news {
    background-color: #DE4655;
    width: 33.33%;
    height: 100%;
    border-right: 2px solid #002270;
}

.cal {
    background-color: #EB8322;
    width: 33.33%;
    height: 100%;
    border-right: 2px solid #002270;
}

.templ {
    background-color: #47BA75;
    width: 33.33%;
    height: 100%;
}

#templbox {
    display: flex;
    align-items: center;
}

#arrow {
    margin-left:auto;
    margin-right: 10px;
    width: 6%;
    height: 10%;
    transform: rotate(0.5turn);
}

#arrow2 {
    margin-left:auto;
    margin-right: 10px;
    width: 6%;
    height: 10%;
}