@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.box {
    border:1px solid #DBDBDB;
    width:67%;
    height: 92vh;
    padding: 0;
    float: left;
    margin-left: 3%;
    overflow: auto;
}
.topbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    margin-left: 3%;
    color: white;
    background-color: #3C7ECC;
    width: 67%;
    border:1px solid #707070;
    display: inline-flex;
    align-items: center;
    position: sticky;
}
.topbar button {
    background-color: #86a62b;
    border-color: #5c7100;
    color:white;
    font-size: 11pt;
    font-family: 'Source Sans Pro', sans-serif;
    height: 50%;
    margin-left: 63%;
}

.topbar p {
    font-weight: bold;
    margin-left: 10px;
}

#counter {
    background-color: #134E8F;
    border: 4px solid #134E8F;
    border-radius: 5pt;
    border-width: 9pt;
    border-top-width: 4pt;
    border-bottom-width: 4pt;
    height: 50%;
    margin-left: 5px;
}

.box tr:nth-child(odd + 1)   { background-color: white; }
.box tr:nth-child(even)    { background-color:#e8f1fb; }

.box table {
    overflow:auto;
    font-family: 'Source Sans Pro', sans-serif;
    table-layout: fixed;
    border-collapse: collapse;
}



.box table thead {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    background-color: #6A9ED8;
    color: white;
    width: 100%;
    position: sticky;
    top: 0px;
}

.box table thead tr {
    height: 40px;
}

.box table tbody tr {
    text-align: left;
    height: 74px;
    font-size: 9pt;
    font-weight: bold;
    color:rgb(106, 103, 103);
}


.box table tbody p {
    display: inline;
    margin-left: 5px;
}

.box table tbody tr input {
    margin-left:10px;
    float:left;
}