@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

.box {
    border:1px solid #DBDBDB;
    width:67%;
    height: 92vh;
    margin:0;
    padding: 0;
    left: 3%;
    position:absolute;
    float: left;
}
.topbar {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11pt;
    color: white;
    background-color: #3C7ECC;
    position: relative;
    border:1px solid #707070;
}
.topbar button {
    background-color: #86a62b;
    border-color: #5c7100;
    color:white;
    font-size: 11pt;
    font-family: 'Source Sans Pro', sans-serif;
    position: absolute;
    left: 74%;
    top: 20%;
}

.topbar p {
    position: relative;
}

.topbar counter {
    background-color: #134E8F;
    border: 4px solid #134E8F;
    border-radius: 5pt;
    border-width: 9pt;
    border-top-width: 4pt;
    border-bottom-width: 4pt;
    position: absolute;
    top: 20%;
    right: 70%;
}